@model ProyectoPP.Models.historiasDeUsuario

@{
    ViewBag.Title = "DetallePB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
</head>



<body>
    <h2>Detalles de historias de usuario</h2>
    <h1>@Html.DisplayFor(model => model.proyecto.nombre)</h1>

    <p align="right">
        <button type="submit">Editar</button>
        <button type="submit">Borrar</button>
    </p>

    <dl class="dl-horizontal">
        <dt>
            <label for="Identificador">Identificador</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <br>
        <dt>
            <label for="Funcionalidad">Funcionalidad</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.funcionalidad)
        </dd>
        <br>
        <dt>
            <label for="Resultado">Resultado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resultado)
        </dd>
        <br>
        <dt>
            <label for="Prioridad">Prioridad</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>
        <br>
        <dt>
           <label for="Prioridad">Prioridad</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estimacion)
        </dd>
        <br>
    </dl>




</body>
