@model ProyectoPP.Models.ModeloProductBacklog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Detalles de Historias De Usuario</h2>
    <hr/>

    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <!--Estos botones funcionan como los action links. Solo que el orden de los parametros es un poco distinto en el orden-->
            <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "historiasDeUsuarios", new { id = Model.Hu.id })'">Editar</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Delete", "historiasDeUsuarios", new { id =  Model.Hu.id })'">Eliminar</button>
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>
            <label>Id</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Hu.id)
            <br>
            <br>
        </dd>

        <dt>
            <label>Funcionalidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Hu.funcionalidad)
            <br>
            <br>
        </dd>

        <dt>
            <label>Resultado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Hu.resultado)
            <br>
            <br>
        </dd>

        <dt>
            <label>Prioridad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Hu.prioridad)
            <br>
            <br>
        </dd>

        <dt>
            <label>Estimación</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Hu.estimacion)
            <br>
            <br>
        </dd>

        <dt>
            <label>Documentación</label>
        </dt>

        <dd>
            @if (Model.Documento12 == null)
            {
                using (Html.BeginForm("Upload", "historiasDeUsuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="postedFile" />
                    <input type="hidden" id="cHUid" name="cHUid" value="@Model.Hu.id" />
                    <input type="submit" id="btnUpload" value="Guardar" class="btn btn-default" />
                }
            }

            @if (!(Model.Documento12 == null))
            {
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th style="width:120px">Nombre</th>
                        <th style="width:80px">Descarga</th>
                        <th style="width:80px">Eliminar</th>
                    </tr>

                    <tr>
                        <td>@Model.Documento12.Nombre</td>
                        <td>
                            @using (Html.BeginForm("DownloadFile", "historiasDeUsuarios", FormMethod.Post))
                            {
                                <input type="hidden" id="hfFileId" name="FileId" value="@Model.Documento12.Id" />
                                <input type="submit" value="Descargar" class="btn btn-default" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteFile", "historiasDeUsuarios", FormMethod.Post))
                            {
                                <input type="hidden" id="hfFileId" name="FileId" value="@Model.Documento12.Id" />
                                <input type="hidden" id="cHUid" name="cHUid" value="@Model.Hu.id" />
                                <input type="submit" value="Eliminar" class="btn btn-default" />
                            }
                        </td>

                    </tr>
                </table>
            }
            </dd>


        <dt>
            <br>
    </dl>




    
    <br>
    <h2>Criterios de Aceptacion</h2>
    <br>

    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <!--Estos botones funcionan como los action links. Solo que el orden de los parametros es un poco distinto en el orden-->
            <button class="btn btn-default" onclick="location.href='@Url.Action("CrearCriterio", "historiasDeUsuarios", new { hu = Model.Hu.id})'">Insertar Criterio</button>
            <br>
            <br>
        </div>
    </div>

    <table class="table">

        <tr>
            <th>
                Número de Escenario
            </th>

            <th>
                Nombre
            </th>

            <th>
                Contexto
            </th>
            <th>
                Evento
            </th>
            <th>
                Resultado
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.Criterios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.numeroEscenario)
                </td>

                <td>
                    @Html.DisplayFor(model => item.nombre)
                </td>

                <td>
                    @Html.DisplayFor(model => item.contexto)
                </td>

                <td>
                    @Html.DisplayFor(model => item.evento)
                </td>
                <td>
                    @Html.DisplayFor(model => item.resultado)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetallesCriterios", "historiasDeUsuarios", new { idHU = item.idHU,id = item.numCriterio}, null)
                </td>
            </tr>
        }


     </table>


</div>
