<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pato Purific</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-image:url(pato4.jpg); background-repeat:no-repeat; background-position: center;">
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SCRUM Planning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                         @if (Request.IsAuthenticated) 
                        {
                        <li>@Html.ActionLink("Usuarios", "Index", "personas")</li>
                             string resp = Html.Action("RevisarPermisosB", "Roles", new { permiso = "Ver accesos" }).ToString();
                             if ( resp == "1" )
                             {
                                <li>@Html.ActionLink("Roles", "RolesView", "Roles")</li>
                             }
                        <li>@Html.ActionLink("Proyectos", "Index", "proyecto")</li>
                        <li>@Html.ActionLink("Product Backlog", "Index", "historiasDeUsuarios")</li>
                        <li>@Html.ActionLink("Sprints", "Index", "sprints")</li>
                        <li>@Html.ActionLink("Sprint Planning", "SprintPlanning", "sprints")</li>
                         }
                        
                        

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <br /><br />
            <footer>
                <p>&copy; @DateTime.Now.Year -👍 Pato Purific </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
    </html>
